.container {
  padding: 0;
  border: 1px solid #5f5f5f;
}
.header {
  line-height: 40px;
  background-color: #e5e5e5;
}
.fa, .fas {
  color: #b68e11;
  line-height: inherit;
}
.fa-star, .fa-star-half-alt {
  color: #ffbe18;
}
.borderRight {
  border-right: 1px solid #5f5f5f;
}
.borderLeft {
  border-left: 1px solid #5f5f5f;
}
.iconBox {
  width: 40px;
  text-align: center;
  background-color: #fff;
}
.body, .rightSmallIcons .fa-info, .rightSmallIcons .fa-ban, .rightSmallIcons .fa-chevron-down {
  border-top: 1px solid #5f5f5f;
}
.row1, .row2 {
  line-height: 60px;
}
.row2, .color-gray {
  color: #5f5f5f;
}
.stars {
  width: 120px;
}
.btn-custom {
  display: inline-block;
  line-height: 16px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #5f5f5f;
  font-size: 1rem;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.exclamation {
  border: 1px solid #B68E11;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  font-size: 12px;
}
.rightSmallIcons {
  width: 40px;
}
.rating {
  position: absolute;
  right: 10px;
  top: 0;
  height: 40px;
  line-height: 40px;
}
@media (max-width: 767px) {
  .row1, .row2 {
    line-height: 40px;
    padding-left: .5rem;
  }
}